.logo {
  font-family: "Futura", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;

  &.sm {
    font-size: 30px;
  }

  &.lg {
    font-size: 100px;
  }
}

a {
  text-decoration: none;
}
