@import "../../styles/variables";

.auth {
  background: url("../../../public/bg-auth.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-head {
    padding-top: 20px;
    display: flex;
    justify-self: flex-start;
    margin-bottom: 70px;
    .slogan {
      font-family: "Futura", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 36px;
      color: #fff;
    }
  }

  .switch-block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    span {
      color: white;
      margin-right: 30px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin: 0;
    background-color: white;
    border-radius: 5px;
    padding: 30px 20px;
    color: black;

    h1 {
      font-size: 2.5rem;
      margin: 0 0 10px;
      text-align: center;
      color: $blue;
    }

    p {
      margin: 0 0 30px;
    }

    div {
      display: flex;
      margin-bottom: 30px;
      width: 100%;
      height: 40px;
      position: relative;

      input {
        border: 1px solid #ccc;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2rem;

        &:focus {
          outline: none;
          box-shadow: 0 0 3px $blue;
          + label {
            top: -10px;
            transform: translateY(-50%) scale(0.7);
            opacity: 1;
          }
        }

        &:not(:placeholder-shown) + label {
          top: -10px;
          transform: translateY(-50%) scale(0.7);
          opacity: 1;
        }

        &.empty {
          border: 1px solid red;
        }
      }
      label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        transform-origin: left center;
        pointer-events: none;
        transition: 0.3s ease-in-out;
        color: black;
        opacity: 0.5;
      }
      .MuiInputAdornment-root {
        display: inline;
        width: auto;
        margin: 0;
        .end-adornment {
          .password-toggle {
            pointer-events: auto;
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .auth-button {
    background-color: $blue;
    font-size: 1.2rem;
    margin-top: 10px;
    width: 100%;
  }
}
